[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "__REPO_NAME__"
version = "0.1.0"
description = ""
readme = "README.md"
requires-python = ">=3.12"

[tool.hatch.build.targets.wheel]
packages = ["src/__PKG_NAME__"]

[tool.ruff]
line-length = 100

[tool.ruff.lint]
select = ["E", "F", "I", "B", "S"]
